<!-- adcode -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<div class="text-center">
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:50px"
     data-ad-client="ca-pub-4734613993143962"
     data-ad-slot="2879098937"></ins>
</div>
<script>
  var ad_width = $(document).width()<468 ? '320' : ($(document).width()<728 ? '468' : '728');
  var ad_height = $(document).width()<468 ? '100' : ($(document).width()<728 ? '60' : '90');
  var ad_slot = $(document).width()<468 ? "2879098937" : ($(document).width()<728 ? "6250720936" : "7386363738");
  $("ins.adsbygoogle").attr({
      'style':'display:inline-block;width:'+ad_width+'px;height:'+ad_height+'px', 
      'data-ad-slot':ad_slot
  });

  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- /adcode -->